* {
    box-sizing: border-box;
  }

html {
    background-color: #000000;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    width: 80%;
    /*max-width: 1024px;
    min-width: 800px;*/
    /*background-color: #ffffff;*/
    margin: 0 auto;
    padding: 10px;
}

.body_wrapper {
    background-color: #ffffff;
}

.gallery {
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    row-gap: 0;
   
}
img {
    max-width: 100%;
}
figure {
    margin: 0;
    
}

.form {
   /* display: grid;
    grid-template-columns: 1fr; */
}

form {
    /*display: grid;
    grid-template-columns: 1fr;*/
    width: 80%;
    /*justify-items: left;*/
    margin: 0 auto;
}

ul {
    list-style-type: none;
}

li {
    display: inline;
    
}

li a {
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
}



p {
    font-size: 1.25em;
}

figcaption, label, input, small {
    font-size: 1em;
}

nav a {
    font-size: 1.5em;
    color:  #ffffff;
}

h1 {
    font-size: 3em;
    color: #007d7b;
    background-color: #ffffff;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
}

h2 {
    font-size: 2em;
}

.contact {
    color:#ffffff;
}

/*.gallery_container h2 {
    text-align: center;

} */

h2 {
    text-align: center;
}

nav {
    margin: 0 auto;
    width: 100%;
    text-align: right;
   /* position: relative;
    /*left: 34%;*/
    display: inline-block;


}

footer {
    color: #ffffff;
    position: relative;
    margin: 0 auto;
    width: 33%;
    text-align: center;
}

#name, #email, #message {
    width: 100%;
}

.contact {
   /* margin: 0 auto;
    width: 80%;*/
}

label {
    display: block;
    padding: 12px 12px 12px 0;
}

input {
    display: block;
}

input[type=submit] {
    background-color: #007d7b;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    width: 75%;
    margin: 0 auto;
  }

   @media screen and (max-width: 880px) {
    .gallery {
      display: grid;
      grid-template-columns: 1fr 1fr;

    }
    nav {
        text-align: center;
    }
  } 

  @media screen and (max-width: 485px) {
    .gallery {
      display: grid;
      grid-template-columns: 1fr;
    }
    nav {
        margin: 0 auto;
    width: 100%;
    text-align: center;
   /* position: relative;
    /*left: 34%;*/
    display: inline-block;
    }
   
  }

  