* {
    box-sizing: border-box;
  }

html {
    background-color: #000000;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    width: 80%;
    margin: 0 auto;
    padding: 10px;
}

.body_wrapper {
    background-color: #ffffff;
}

.gallery {
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    row-gap: 0;
   
}
img {
    max-width: 100%;
}
figure {
    margin: 1%;
    display: grid;
    position: relative;
    
}

figcaption {
    justify-self: center;
    position: absolute;
    padding-top: 2%;
    padding-bottom: 2%;
    text-transform: uppercase;
}

.chile_img_caption, .hawaii_img_caption, .Moab_desert_img_caption {
    align-self: end;
    color:#ffffff;

}

.Italy_img_caption {
    align-self: end;
}

.guatemala_img_caption, .Wyoming_img_caption {
    color: #ffffff;
}


form {
    width: 80%;
    margin: 0 auto;
    text-transform: uppercase;
}

::placeholder {
    text-transform: uppercase;
    
}

ul {
    list-style-type: none;
}

li {
    display: inline;
    padding-left: 1%;
    
}

li a {
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
}



p {
    font-size: 1.25em;
}

figcaption, label, input, small {
    font-size: 1em;
}

nav a {
    font-size: 1.5em;
    color:  #ffffff;
}

h1 {
    font-size: 3em;
    color: #007d7b;
    background-color: #ffffff;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    padding: 1%;
    margin-top: -10px;
}

h2 {
    font-size: 2em;
    text-transform: uppercase;
}

.contact {
    color:#ffffff;
}

h2 {
    text-align: center;
}

nav {
    margin: 0 auto;
    width: 100%;
    text-align: right;
    display: inline-block;


}

footer {
    color: #ffffff;
    position: relative;
    margin: 0 auto;
    text-align: center;
    text-transform: uppercase;
}

#name, #email, #message {
    width: 100%;
}

.contact {
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr;
}

label {
    display: block;
    padding: 2% 0 0 1%;
    
}

input {
    display: block;
    text-indent: 1%;
}

input[type=submit] {
    background-color: #007d7b;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    width: 75%;
    margin: 0 auto;
  }

   @media screen and (max-width: 880px) {
    .gallery {
      display: grid;
      grid-template-columns: 1fr 1fr;

    }
    nav {
        text-align: center;
    }
  } 

  @media screen and (max-width: 485px) {
    .gallery {
      display: grid;
      grid-template-columns: 1fr;
    }
    nav {
        margin: 0 auto;
    width: 100%;
    text-align: center;
    display: inline-block;
    }
    h1 {
        display: grid;
        font-size: 184%;
        justify-content: center;
    }
   
  }

  .contact p {
    justify-self: center;
  }

  textarea {
    margin-bottom: 2%;
    text-indent: 1%;

  }

  input[type="submit"] {
    margin-bottom: 2%;
    border-radius: 15px;
    text-transform: uppercase;
}
  